	<script type="text/javascript" src="/index.js"></script>

	<!-- JuicyAds v3.2P Start -->
	<script type="text/javascript">
		var juicy_tags = ['a', 'img'];
	</script>
	<script type="text/javascript" src="https://js.juicyads.com/jp.php?c=b4d4z2x2u256r2w2r28463d4&u=http%3A%2F%2Fwww.juicyads.rocks"></script>
	<!-- JuicyAds v3.2P End --></body>
</html>
