<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>The best videos</title>
		<link rel="stylesheet" type="text/css" href="/index.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="juicyads-site-verification"
			content="58b0c36857469ae9db7449d746a34ebf"
		/>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-147992522-2"
		></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'UA-147992522-2')
		</script>
	</head>

	<body>
		<header>
			<h1 id="title"><a href="/">HEATOON</a></h1>
			<div class="links">
				<a href="/">Videos</a>
				<a href="/pictures">Pictures</a>
				<a
					href="https://en.chaturbate.com/in/?track=default&tour=bfpW&campaign=AnvA2"
					target="_blank"
					class="button-like"
				>
					Chat With Girls
				</a>
			</div>
		</header>
