iframe {
	text-align: center;
	margin: 0 auto;
	display: block;
}
img {
	cursor: pointer;
}
#main-body {
	background-color: whitesmoke;
	margin: 0 50px;
}
#title {
	text-align: center;
	font-family: verdana;
}
.contenedor-ads {
	width: 310px;
}
#contenedor-video-ads {
	display: none;
	justify-content: center;
	flex-direction: row;
}
#snapshots {
	text-align: center;
}

#video-player {
	display: none;
	margin: 0 auto;
	height: 100%;
	width: 900px;
}

#snapshots {
	list-style-type: none;
	display: grid;
	grid-auto-flow: row;
	padding-left: 0;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1000px;
	margin: 50px auto;
	grid-gap: 10px;
}

.snapshot {
	width: 100%;
}

@media (max-width: 1050px) {
	#contenedor-video-ads {
		flex-direction: column;
	}
	#video-player {
		width: 100%;
	}
	#main-body {
		margin: 0 0;
	}
}