body {
	font-family: sans-serif;
	max-width: 1000px;
	margin: auto;
	padding: 0 20px;
}

header {
	display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

iframe {
	text-align: center;
	margin: 0 auto;
	display: block;
}

img {
	cursor: pointer;
}

#main-body {
	background-color: whitesmoke;
	margin: 0 50px;
}

#title {
	text-align: center;
	font-family: verdana;
}

.contenedor-ads {
	width: 310px;
}

#contenedor-video-ads {
	display: none;
	justify-content: center;
	flex-direction: row;
}

#snapshots {
	text-align: center;
}

#video-player {
	display: none;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#snapshots {
	list-style-type: none;
	display: grid;
	grid-auto-flow: row;
	padding-left: 0;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 50px auto;
	grid-gap: 10px;
}

.snapshot {
	width: 100%;
}

.links a {
	margin-left: 20px;
	text-decoration: none;
	color: #343434;
}

a.button-like {
	padding: 20px;
	background-color: #ef8003;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0 5px 9px -5px #7c7c7c;
}

.button-like:hover, .links a:hover {
	opacity: 0.7;
}

.button-like:active, .links a:active {
	opacity: 0.9;
}

@media (max-width: 1050px) {
	#contenedor-video-ads {
		flex-direction: column;
	}
	#video-player {
		width: 100%;
	}
	#main-body {
		margin: 0 0;
	}
}

@media (max-width: 550px) {
	header {
		flex-direction: column;
	}

	.links {
		margin-top: 20px;
		font-size: 10pt;
	}
}